.col-md-8.col-md-offset-2
	%br
	= button_to "Go Back to Farm", farm_path(@farm), method: "get", class: "btn btn-success btn-block"
	%h1 All Users Who Follow You
	%table{:class => "table table-striped table-hover"}
		%thead
			%th Name
			%th Email
		%tbody
			- @connections.each do |f|
				%tr
					%td= f.user.name
					%td 
						= mail_to f.user.email

	%h2 Contact List
	- @connections.each do |e|
		= e.user.email
		= ","