%div{style: "width:100%;"}
	#map{style: "width: 100%; height: 500px;"}
		= render "search_map"

.col-md-10.col-md-offset-1			
	%h2= "Farms Near: #{params[:search].titleize}"
	%table{:class => "table table-striped table-hover"}
		%thead
			%th Name
			%th Address
			%th Days Open
			%th Hours Open
			%th Phone Number
			%th Distance
		%tbody
			- @farms.each do |f|
				%tr
					%td
						= link_to f.name, farm_path(f), method: "get"
					%td= f.address
					%td= f.days_open
					%td= f.hours_open
					%td= f.phone_num
					%td
						= f.distance.round(2)
						= "miles"