%h1= @farm.name

= image_tag "http://maps.google.com/maps/api/staticmap?size=700x350&sensor=false&zoom=16&markers=#{@farm.latitude}%2C#{@farm.longitude}"
%br
= @farm.description
%br
= @farm.address
%br
= @farm.latitude
%br
= @farm.longitude
%br
= @farm.hours_open
%br
= @farm.days_open
%br
= @farm.months_open
%br
= @farm.phone_num
%br
= @farm.user_id
%br
= @farm.email_address

%br
- if current_user	
	- if current_user.id == @farm.user_id
		= button_to "Edit this Farm", edit_farm_path(@farm), class: "btn btn-warning btn-lg"
		%br
		%br
= render "/layouts/footer"