.col-md-8.col-md-offset-2
	%div{style: "width: 100%;"}
		#map{style: "width: 100%; height: 400px;"}
			= render "/welcome/home_map"
	%br
	.directions_div
		= link_to "Get Directions", "https://www.google.com/maps/place/#{@farm.address}", :target => "_blank", class: "btn", method: "get"
		%br
		= "(opens in new window)"
	
	%h1= @farm.name

.col-md-6.col-md-offset-2	
	
	%h4= "Who We Are and What We Do"
	%br
	= simple_format(@farm.description)
	%br
	

.col-md-2
	%h3= "General Info"
	- if @links.present?
		%h4= "Find Us Elsewhere"
		- @links.each do |l|
			= link_to l.name, l.url, target: "_blank"
	%h4= "Our Address"
	= @farm.address
	%h4= "Hours Open"
	= @farm.hours_open
	%br
	%h4= "Days Open"
	= @farm.days_open
	%br
	%h4= "Months Open"
	= @farm.months_open
	%br
	%h4= "Phone"
	= @farm.phone_num
	%br
	%h4= "Email"
	= mail_to @farm.email_address

.col-md-8.col-md-offset-2

	- if current_user
		= render "rating_form"	

	%h2 Comments

	- @comments.each do |c|
		%strong= "#{c.user.name}: " if c.user 
		= c.content.to_s
		- if current_user.id == c.user_id
			= link_to "Delete", comment_path(c), method: "delete"
		%br
		%br
	%br

	%h2 Add A Comment
	- if current_user
		= form_for Comment.new, url: "/comments", method: :post do |f|
			= f.hidden_field :farm_id, value: @farm.id
			= f.text_area :content, class: "form-control"
			%br
			= f.submit "Add Comment", :class => "btn btn-success btn-block"
		%br
		%br	

	= render "/layouts/footer"


- if current_user	
	- if current_user.id == @farm.user_id
		.edit_farm_button{id: "edit_farm_button"}
			= button_to "Edit this Farm", edit_farm_path(@farm), method: "get", class: "btn btn-warning"