%div{style: "width:100%;"}
	#map{style: "width: 100%; height: 300px;"}
		= render "farm_map"

.col-md-8.col-md-offset-2
	.directions_div
		= link_to "Get Directions in New Window", "https://www.google.com/maps/place/#{@farm.address}", :target => "_blank", class: "btn", method: "get"
		%br
		- if has_connected(current_user, @farm)
			= link_to "Quit Following This Farm", connection_path(@connection.first), method: :delete
		- else
			= render "follow_farm"
	
	%h1= @farm.name

.col-md-6.col-md-offset-2	
	
	%h4= "Who We Are and What We Do"
	%br
	= simple_format(@farm.description)
	%br
	%h2 Comments
	= render "farm_comments"
	

.col-md-2
	%h2 User Ratings
	= render "ratings_form"
	%h3= "General Info"
	- if @links.present?
		%h4= "Find Us Elsewhere"
		- @links.each do |l|
			= link_to l.name, l.url, target: "_blank"
	%h4= "Address"
	= @farm.address
	%h4= "Hours Open"
	= @farm.hours_open
	%br
	%h4= "Days Open"
	= @farm.days_open
	%br
	%h4= "Months Open"
	= @farm.months_open
	%br
	%h4= "Phone"
	= @farm.phone_num
	%br
	%h4= "Email"
	= mail_to @farm.email_address


- if current_user	
	- if current_user.id == @farm.user_id
		.edit_farm_button{id: "edit_farm_button"}
			= button_to "Edit this Farm", edit_farm_path(@farm), method: "get", class: "btn btn-warning"
			= button_to "Your Followers", "/farms/#{@farm.id}/followers", method: "get", class: "btn btn-warning"
			