= "Hey there #{@comment.farm.name},"

%p 
	#{@comment.user.name} just posted a comment on your farm's page. Here is what they said.

%p
	#{@comment.content}

%p
	You can view it right here 
	= link_to @comment.farm.name, "http://farmfindr.herokuapp.com/farms/#{@comment.farm.id}"