.navbar.navbar-inverse
  .navbar-header
    %a.navbar-brand{href: "/"} FarmFindr
  .navbar-collapse.collapse.navbar-inverse-collapse
    %ul.nav.navbar-nav
      - if current_user
        %li
          %a{href: "/farms/new"} Add A Farm
        %li
          %a{href: "/users/#{current_user.id}"} Your Farms
    = form_tag("/search", method: :get, class: " navbar-form navbar-right") do 
      = text_field_tag :search, params[:search], placeholder: "city, state, zip, address", class: "form-control"
      = submit_tag "Find Farms", name: nil, :class => "btn btn-info"

    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li
          = link_to "Logged in as #{current_user.name}", edit_user_registration_path 
        %li
          = link_to "Log Out", destroy_user_session_path, method: "delete"
      - else
        %li
          = link_to "Sign Up", new_user_registration_path
        %li
          = link_to "Log In", new_user_session_path